body
{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size:cover
}
header
{
    background-color:#C1E5ED;
}

.main-nav
{
    height:45px;
    border-color:1px solid #000000;
    border-style:solid;
}
.logo
{
    color:black;
    line-height:40px;
    font-size:25px;
    font-weight:bold;
    text-decoration: none;
    margin-left:30px;
    font-family:"AstroSpace",sans-serif;
    padding:1px;

}


.navlinks
{
    list-style:none;
    float:right;
    line-height:40px;
    margin:1px;

}
.navlinks li
{
    display:inline-block;
    margin: 0px 6px;
}
.navlinks li img
{
   height:30px;
}
.navlinks li a
{  
   
    color: black;
    text-decoration:none;
    font-size:18px;
    text-transform: uppercase;
   
    margin:2px;
}
.navlinks li a:hover
{
    color:darkblue;
    padding-bottom:7px;
    border-bottom:2px solid red;
}
li a.logout 
{
    background-color: #4CDFFe;
 
    padding:5px;
    border-radius: 40px;
    transition: all 0.3s linear 0s;
  }

  li a.logout:hover {
    background-color: rgb(73, 11, 219);;
    color: white;
    border-bottom: none;
  }
 /* .scroll{
   font-size: 60px;
   
   
}
  #left{
    position:absolute;
    top:30%;
    right:95%;
  }
  
  #right{
    position:absolute;
    top:30%;
    left:89%;
  } */
@media(max-width:800px)
{
    .navlinks{
        position: fixed;
        width:100%;
        height:100vh;
        text-align:center;
        background:#146be6 ;
    }
    .navlinks li 
    {
        display:block;
    }
    .navlinks li a
    {
        font-size:20px;
    } 
    .navlinks li a:hover
    {
       border-bottom:none;
    }
    
}
.columns
{
    padding:14px;
    max-width:960px;
    width:100%;
    
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    margin: 20px 0;
    margin-left:100px;
    margin-bottom:-7%
}
.container
{
    flex:1;
    border:1px solid black;
    padding:10px;
    background:white;
    height:330px;
    margin-right:10px;
    margin-left:10px;
    background-color:#C4C4C4;
    
    
}
.container p
{
    color:black;
    text-align: center;
}

.columns .scroll img
{
    margin-top:160px;
}


section .login
{
    height:70vh;
  background-size:cover;
    background-position:center;  
}
.login-page
{
    width:290px;
    padding:10% 0 0;
    margin:auto;
}

.form
{
    position:relative;
    z-index:1;
    background:#ffffff;
    max-width:360px;
    margin: 0 auto 100px;
    padding:45px;
    text-align:center;
}
.let h3
{
    text-align: center;
}

.columns .container button
{
    margin-top:250px;
    margin-left:50px;
    border-radius:40px;
    padding:4px;
    transition: all 0.3s linear 0s;
    background-color:aquamarine;
    width:25%;
    
}
.columns .container button:hover
{
    background-color:rgb(73, 11, 219);
    color: white;
    border-bottom: none;
    transform: rotate(360deg);
}
.login
{
    margin-bottom:-20%;
}
.submit input:hover
{
    
    color: rgb(73, 11, 219);
    border-bottom: none;
    transition: all 0.3s linear 0s;
    cursor:pointer;
    transform: rotate(360deg);
}
.clear input:hover
{

    color: rgb(73, 11, 219);
    border-bottom: none;
    transition: all 0.3s linear 0s;
    cursor:pointer;
    transform: rotate(360deg);
}
